.checkboxContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.inputContainer {
	appearance: none;
	background-color: var(--white);
	border: 2px solid var(--mid-grey);
	border-radius: 4px;
	width: 24px;
	height: 24px;
}

.inputContainer:checked {
	border: 2px solid var(--primary);
	background-color: var(--primary);
}

.inputContainer::before {
	content: "";
	position: relative;
	top: 0;
	left: 6px;
	display: block;
	width: 6px;
	height: 13px;
	border-bottom: 2px solid var(--white);
	border-right: 2px solid var(--white);
	transform: scale(0) rotate(40deg);
	transition: transform 0.2s;
	z-index: 9;
}
  
.inputContainer:checked::before {
	transform: scale(1) rotate(40deg);
}

.labelText {
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: var(--black);
}