.container {
	position: relative;
}

.textLabel {
	color: var(--dark-gray);
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	position: absolute;
	pointer-events: none;
	top: calc(50% - 16px);
	left: 15px;
	transition: all 0.1s ease;
}

.container > input {
	width: 100%;
	height: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: var(--black);
	padding: 20px 15px 0px 15px;
	border-radius: 4px;
	background-color: var(--extralight-gray);
	outline: none;
	border: 2px solid var(--extralight-gray);
}

.container.hasError > input {
	border: 1px solid var(--dangerous);
	padding: 5px;
}

.container.hasError::after {
	content: "";
	position: absolute;
	right: 5px;
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
	background-image: url("../../assets/icons/error.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.container > input:focus ~ .textLabel, .container > input:not(:focus):valid ~ .textLabel {
	top: 10px;
	font-size: 14px;
	line-height: 24px;
}

.error {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--dangerous);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}