.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container > div {
	max-width: 800px;
}

.container > div > h2 {
	color: var(--black);
	font-weight: 600;
	font-size: 40px;
	line-height: 56px;
	text-align: center;
}

.form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 35px;
}

.formRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	gap: 25px;
}

.formRow > * {
	max-width: 384px;
	width: 100%;
}

@media screen and (max-width: 650px) {
	.formRow {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media screen and (max-width: 375px) {
	.container > div > h2 {
		font-size: 24px;
		line-height: 32px;
	}
}