.questionContainer {
	display: flex;
	position: relative;
	align-items: flex-start;
	justify-content: space-between;
	cursor: pointer;
	width: 100%;
}

.questionContainer > h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	width: calc(95% - 24px);
	color: var(--black);
}

.status {
	position: relative;
	top: 5px;
	width: 24px;
	height: 24px;
	transition: transform 0.7s;
}

.status > img {
	filter: grayscale(100%);
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	width: 24px;
	height: 24px;
	background-size: contain;
}

.answer {
	display: none;
	width: calc(100% - 24px);
	height: fit-content;
	color: var(--dark-gray);
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
}

.questionContainer.opened ~ .answer {
	display: block;
}

.questionContainer.opened > .status {
	transform: rotate(45deg);
}

@media (any-hover: hover) {
	.questionContainer:hover > h3 {
		color: var(--primary);
	}
	.questionContainer:hover > .status > img {
		filter: invert(31%) sepia(89%) saturate(2439%) hue-rotate(212deg) brightness(95%) contrast(92%);
	}
}

@media screen and (max-width: 375px) {
	.answer {
		font-size: 16px;
		line-height: 28px;
	}
}