.logoContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 120px;
	height: 24px;
}

.logo {
	position: relative;
	height: 100%;
	width: fit-content;
	white-space: nowrap;
}

.logo > span {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	position: relative;
}

.logo > .blue {
	background-color: var(--primary);
	z-index: 2;
}

.logo > .white {
	right: 10px;
	background-color: var(--white);
	z-index: 1;
}

.logoContainer > span {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--white);
}

.logo.burgerMode ~ span {
	color: var(--black);
}

.logo.burgerMode > .white {
	background-color: var(--light-gray);
}