section {
	padding: 50px 0px;
}

section > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 30px;
}

h2 {
	font-weight: 600;
	font-size: 40px;
	line-height: 56px;
	text-align: center;
	color: var(--black);
}

.listItems {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 25px;
	flex-wrap: wrap;
}

.thirdBlock {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.thirdBlock > div {
	width: 50%;
}

.textBlock > h3 {
	font-weight: 600;	
	font-size: 32px;
	line-height: 40px;
	color: var(--black);
	margin-bottom: 20px;
}

.textBlock > p:first-of-type {
	margin-bottom: 20px;
}

.textBlock > p {
	font-weight: 400;	
	font-size: 16px;
	line-height: 28px;
	color: var(--dark-gray);
}

.trackBlock {
	background-image: url("../../assets/images/track.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 592px;
	max-height: 448px;
	min-width: 300px;
	width: 50%;
	overflow: hidden;
}

.trackBlock > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	h2 {
		font-size: 24px;
		line-height: 32px;
	}
	.textBlock > h3 {
		font-size: 20px;
		line-height: 24px;
	}
}

@media screen and (max-width: 610px) {
	.thirdBlock {
		flex-direction: column-reverse;
		gap: 20px;
	}
	.thirdBlock > div {
		width: 100%;
	}
	.textBlock {
		text-align: center;
	}

}