
.containerReviewBox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
}

.container {
	display: flex;
	gap: 30px;
	align-items: center;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	width: 100%;
	scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
	display: none;
}

.itemReview {
	flex-shrink: 0;
	scroll-snap-align: end;
	scroll-snap-stop: always;
}

.containerArrow {
	display: flex;
	width: 200px;
	align-items: center;
	justify-content: center;
	height: calc(100% - 20px);
}

.arrow {
	height: 17px;
	width: 17px;
	border-left: 2px solid;
	border-top: 2px solid;
	border-color: var(--mid-grey);
	cursor: pointer;
	transform: rotate(135deg);
	transition: 0.3s;
}

.leftArrow {
	transform: rotate(180deg);
}

.arrow:hover {
	transform: rotate(135deg) scale(1.05);
	border-color: var(--primary);
}

@media screen and (max-width: 1070px) {
	.container {
		width: calc(100% - 200px);
	}
}
@media screen and (max-width: 700px) {
	.containerArrow {
		display: none;
	}
	.container {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.itemReview {
		scroll-snap-align: center;
	}
}
